Flask
gunicorn==21.2.0
requests
PyMySQL
cryptography
cmake
flask>=3.1.1
werkzeug>=3.1.3
pony>=0.7.19; python_version <= '3.12'
waitress>=3.0.2
Flask-Caching>=2.3.0
Flask-Compress==1.18  # pkg_resources can't resolve the "backports.zstd" dependency of >1.18, breaking ModuleUpdate.py
Flask-Limiter>=3.12
bokeh>=3.6.3
markupsafe>=3.0.2
setproctitle>=1.3.5
mistune>=3.1.3
docutils>=0.22.2
bsdiff4>=1.2.2
factorio-rcon-py>=2.1.2
typing-extensions>=4.7, <5
dolphin-memory-engine>=1.3.0
Pymem>=1.10.0
nest-asyncio >= 1.5.5
mpyq>=0.2.5
portpicker>=1.5.2
aiohttp>=3.8.4
loguru>=0.7.0
protobuf==6.31.1
pyevermizer==0.50.1 \
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
maseya-z3pr>=1.0.0rc1
xxtea>=3.0.0
Pymem>=1.13.0
colorama>=0.4.6
websockets>=13.0.1,<14
PyYAML>=6.0.3
jellyfish>=1.2.1
jinja2>=3.1.6
schema>=0.7.8
bsdiff4>=1.2.6
platformdirs>=4.5.0
certifi>=2025.11.12
cython>=3.2.1
cymem>=2.0.13
orjson>=3.11.4
typing_extensions>=4.15.0
pyshortcuts>=1.9.6
